<div class = "wrapper">
  <div class="downtable">
    <span class="title">Расписание</span>

  </div>
  <div>

  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="cabinet">
      <th mat-header-cell *matHeaderCellDef> Кабинет </th>
      <td mat-cell *matCellDef="let element"> {{element.cabinet}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Дата </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="machinename">
      <th mat-header-cell *matHeaderCellDef> Оборудование </th>
      <td mat-cell *matCellDef="let element"> {{element.machinename}} </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
