
  <div class="wrapper">
    <div class = "headblock">

      <button mat-raised-button color="primary" class="headbutton" on-click="RedirectService()"> Оборудование и сервис</button>
      <button mat-raised-button color="primary" class="headbutton" on-click="RedirectError()"> Сообщения о ошибках</button>
      <button mat-raised-button color="primary" class="headbutton" on-click="RedirectMachine()"> Оборудование</button>
    </div>

    <div class = "block">

      <mat-form-field appearance="outline">
        <mat-label>Введите серийный номер оборудования</mat-label>
        <input matInput id = "id" >
      </mat-form-field>
        <button mat-raised-button color="primary"  on-click="PostOK();">Проверка пройдена</button>
        <button mat-raised-button color="primary" class = "wrap-down_b"on-click="PostFuck();">Проверка не пройдена</button>

    </div>

    <div class = "block">
      <span class="title">Добавить информацию о последнемм ТО</span>

      <mat-form-field appearance="outline">
        <mat-label>Введите серийный номер оборудования</mat-label>
        <input matInput id = "id2" >

      </mat-form-field>
      <div>
      <p>Введите дату</p>
      <input id="lastTO" type="datetime-local" >
    </div>
      <button mat-raised-button color="primary" class="button" on-click="UpdateTO();"> Подтвердить</button>

    </div>
    <div class="block">
      <div class="wrap-down">
        <span class="title">Внесение нового оборудования</span>
      </div>

      <div class="wrap-down">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Тип</mat-label>
            <input matInput id = "typemachine">
          </mat-form-field>

        </div>

        <div class="wrap-down">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Инвентарный номер</mat-label>
              <input matInput id = "inventoryid">
            </mat-form-field>

          </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Рекомендации</mat-label>
            <input matInput id = "recomendationmachine">
          </mat-form-field>


        </div>

      </div>

      <div class="wrap-down">
        <div>
          <p>Следующее ТО</p>
          <input id="datetime" type="datetime-local" id = "dateNTO">
        </div>

        <div class="wrap-down">
          <p>Дата начала эксплуатации</p>
          <input id="datetime1" type="datetime-local" id = "dateDSE">
        </div>

        <div class="wrap-down">
          <p>Дата конца эксплуатации</p>
          <input id="datetime2" type="datetime-local" id = "dateDEE">
        </div>

      </div>


      <div class="wrap-down">
        <button mat-raised-button color="primary" class="button" on-click="PostNewMachine();"> Подтвердить</button>
      </div>

    </div>
    </div>
      <div class="block">
      <div>
        <span class="title">Список оборудования</span>
      </div>



    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="inventoryId">
        <th mat-header-cell *matHeaderCellDef> Инвентарный номер оборудования </th>
        <td mat-cell *matCellDef="let element"> {{element.inventoryId}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Тип оборудования </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="lastTO">
        <th mat-header-cell *matHeaderCellDef> Последнее ТО </th>
        <td mat-cell *matCellDef="let element"> {{element.lastTO}} </td>
      </ng-container>

      <!-- Symbol Column -->

      <ng-container matColumnDef="futerTO">
        <th mat-header-cell *matHeaderCellDef> Следующее ТО </th>
        <td mat-cell *matCellDef="let element"> {{element.futerTO}} </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>


<router-outlet></router-outlet>

