.wrapper {
  position: relative;
  background: radial-gradient(white, #c2e1fc);
  margin: auto;
  display: flex;
  flex-direction: column;
}
.block{
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;

  margin-bottom: 100px;
}
.link-btns {
  display: flex;
  justify-content: space-between;
}
.form {
  margin-left: 100px;
}
.header{
  margin-right: 525px;

}
.headblock{
  display: flex;
  margin-bottom: 2%;
  margin-left: 30%;
  flex-direction: row;
}
.button{
  width: 40%;
  margin-left: 34%;
  margin-top: 2%;
}
.wrap-down{
  margin-top: 2%;
}
.wrap-down_b{
  margin-top: 4%;
}
.headbutton{
  width: 20%;

  margin-top: -1%;
}
table {
  width: 80%;
margin-left: 10%;
  background: radial-gradient(white, #92b5d4);
}
