<div class="wrapper">
  <div class = "headblock">

    <button mat-raised-button color="primary" class="headbutton" on-click="RedirectService()"> Оборудование и сервис</button>
    <button mat-raised-button color="primary" class="headbutton" on-click="RedirectError()"> Сообщения о ошибках</button>
    <button mat-raised-button color="primary" class="headbutton" on-click="RedirectMachine()"> Оборудование</button>
  </div>
  <div class = "block">
    <mat-form-field appearance="outline">
      <mat-label>Почтовый ящик</mat-label>
      <input matInput id = "email">
    </mat-form-field>
    <button mat-raised-button color="primary" class="button " on-click="CreateReport();"> Сформировать отчет</button>
  </div>

  <div class="block">
    <div>
      <span class="title">Отправка  оборудования в сервис</span>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Серийный номер оборудования</mat-label>
      <input matInput id="serialid2">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Статус</mat-label>
      <input matInput id = "Status">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>ид ошибки</mat-label>
      <input matInput id = "errorid">
    </mat-form-field>

    <div class="wrap-down">
      <p>Дата начала обслуживания</p>
      <input id="ToSS" type="datetime-local" >
    </div>

    <div class="wrap-down">
      <p>Дата конца обслуживания</p>
      <input id="ToES" type="datetime-local">
    </div>


    <div class="wrap-down">
      <button mat-raised-button color="primary" class="button " on-click="PostService();"> Подтвердить</button>
    </div>
  </div>
  <div class = "block">
    <p>Изменения оборудования в сервисе</p>
    <mat-form-field appearance="outline">
      <mat-label>ИД</mat-label>
      <input matInput id = "id">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Статус</mat-label>
      <input matInput id = "c_status">
    </mat-form-field>
    <div class="wrap-down">
      <p>Дата конца обслуживания</p>
      <input id="ChangeToES" type="datetime-local">
    </div>
    <button mat-raised-button color="primary" class="button " on-click="ChangeService();"> Подтвердить</button>
  </div>



  <div class="downtable">
    <span class="title">Оборудование в сервисе</span>

    </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Ид </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="serial">
      <th mat-header-cell *matHeaderCellDef> Инвентарный номер оборудования </th>
      <td mat-cell *matCellDef="let element"> {{element.serial}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Статус </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="dos">
      <th mat-header-cell *matHeaderCellDef> Дата поступления в сервис </th>
      <td mat-cell *matCellDef="let element"> {{element.dos}} </td>
    </ng-container>

    <ng-container matColumnDef="dose">
      <th mat-header-cell *matHeaderCellDef> Дата выхода из сервиса </th>
      <td mat-cell *matCellDef="let element"> {{element.dose}} </td>
    </ng-container>

    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef> Сообщение о ошибке </th>
      <td mat-cell *matCellDef="let element"> {{element.message}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div></div>
  </div>


